/*Login.styles.tsx*/
/*Login.module.css*/
/*Login.module.scss*/
.containerBtn {
    position: absolute;
    top: 608px;
}

.textTypes {
    position: absolute;
    top: 137.86px;
    left: 1018.67px;
    width: 737.33px;
    height: 655.61px;
}

.textTypes .title {
    width: 737.33px;
    height: 213px;
}

.textTypes .text {
    position: absolute;
    top: 260.67px;
    width: 737.33px;
    height: 306.23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textTypes .title h1 {
    font-weight: 700;
    font-size: 110.9px;
    line-height: 100.44px;
    background: linear-gradient(150deg, rgba(242, 0, 145, 0.01) 21%, rgba(102, 0, 146, 0.01) 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(270deg, #f20091 21%, #660092 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textTypes .text p {
    font-weight: 400;
    font-size: 32px;
    line-height: 31.02px;
    color: rgba(112, 112, 111, 1);
    margin-bottom: 15px;
}

.textTypes .text p strong {
    font-weight: 700;
    font-size: 32px;
    line-height: 31.02px;
    margin-bottom: 15px;
}
.HiveWhite{
    position: absolute;
    top: -30px;
    left: 364px;
    width: 523px;
    height: 317px;
}
.HiveBlackOne{
    position: absolute;
    top: 13px;
    left: 939px;
    width: 256px;
    height: 155px;
}
.HiveBlackTwo{
    position: absolute;
    top: 109px;
    left: 1285px;
    width: 161px;
    height: 98px;
}
.HiveBlackThree{
    position: absolute;
    top: 112px;
    left: 1657px;
    width: 192px;
    height: 118px;
}
.DotText{
    position: absolute;
    top: 149px;
    left: 1657px;
    width: 19px;
    height: 19px;
}